/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url('360_F_85326806_k3nKFfDnL7BKZZpgplibILjssleez7za.jpg')
}

.gallery {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color:aquamarine;
    border-radius: 10px;
}

.gallerycont {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.gallerycont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gallerybutton button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.gallerybutton button:hover {
    background-color: #0056b3;
}
